.footer {
  padding-top: 45px;
  padding-bottom: 45px;

  background-image: linear-gradient(
    to bottom,
    $background-color-footer 50%,
    $background-color-main 50%
  );

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: $color-main-light;

    transition: color 250ms linear;
  }

  &__link:hover,
  &__link:focus {
    color: $color-main-dark;
  }
}

.footer-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 65px;
  }

  &__item:nth-child(even) {
    margin-top: 90px;
  }

  &__item:nth-child(3) {
    margin-top: 120px;
    margin-bottom: 65px;
  }
}
