.header {
  min-height: 150px;

  background-color: $background-color-header;
  letter-spacing: 0.245em;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: inline-block;
  font-family: $font-accent;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.38;

  color: $color-main-dark;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 63px;
  }

  &__icon {
    fill: $color-main-light;

    transition: fill 250ms linear;
  }

  &__link {
    display: inline-block;

    padding: 63px 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: $color-main-light;

    transition: color 250ms linear;
  }

  &__link:hover,
  &__link:focus {
    color: $color-hover;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $color-hover;
  }
}
