@import './base/normalise';
@import './base/common';
@import './button';

.portfolio {
  background-color: aquamarine;
}
.about {
  background-color: coral;
}
.services {
  background-color: darkorange;
}
.product {
  background-color: darkblue;
}
.review {
  background-color: darkseagreen;
}
.footer {
  background-color: crimson;
}
