$background-color-main: #ffffff;
$background-color-header: rgba(183, 76, 76, 0.42);

$color-main-light: #ffffff;
$color-main-dark: #000000;

$font-main: 'Poppins', sans-serif;
$font-accent: 'Pattaya', sans-serif;
