$background-color-main: #ffffff;
$background-color-header: rgba(183, 76, 76, 0.42);
$background-color-about: rgba(176, 85, 85, 0.63);

$color-main-light: #ffffff;
$color-main-dark: #000000;
$color-hover: rgba(176, 85, 85, 0.63);

$font-main: 'Poppins', sans-serif;
$font-accent: 'Pattaya', sans-serif;
