$background-color-main: #ffffff;
$background-color-header: rgba(183, 76, 76, 0.42);
$background-color-about: rgba(176, 85, 85, 0.63);
$background-color-link-about: rgba(255, 255, 255, 0.49);
$background-color-portfolio: rgba(192, 105, 77, 0.47);
$background-color-product: rgba(192, 105, 77, 0.47);

$color-main-light: #ffffff;
$color-main-dark: #000000;
$color-hover: rgba(176, 85, 85, 0.63);
$color-link-about: rgba(0, 0, 0, 0.57);
$color-social-link: rgba(0, 0, 0, 0.6);
$color-hover-link-portfolio: rgba(0, 0, 0, 0.57);

$color-button: #341616;

$font-main: 'Poppins', sans-serif;
$font-accent: 'Pattaya', sans-serif;
